{% extends "base_bootstrap.html"%}

{% load thumbnail bootstrap3 %}

{% block title %} &bull; Home{% endblock %}


{% block content %}
<section id="featured-products" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#featured-products" data-slide-to="0" class="active"></li>
    <li data-target="#featured-products" data-slide-to="1"></li>
    <li data-target="#featured-products" data-slide-to="2"></li>
      <li data-target="#featured-products" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{{ STATIC_URL }}themes/images/carousel/banner-1.jpg" alt="...">
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <img src="{{ STATIC_URL }}themes/images/carousel/banner-2.jpg" alt="...">
      <div class="carousel-caption">

      </div>
    </div>
     <div class="item">
      <img src="{{ STATIC_URL }}themes/images/carousel/banner-1.jpg" alt="...">
      <div class="carousel-caption">

      </div>
    </div>
      <div class="item">
      <img src="{{ STATIC_URL }}themes/images/carousel/banner-2.jpg" alt="...">
      <div class="carousel-caption">

      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  
</section>


        	<section class="header_text">
                “The love of craft is embedded in yours artistic psyche.”
                <br/>Don't miss to use our best hand made arts!
			</section>

    {% if featured_products %}
        <h4 class="title">
		<span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
		<span class="pull-right">
		</span>
		</h4>

    {% for product in featured_products %}

        <div class="col-6 col-sm-4 col-lg-4">
        <div class="product-box">
        <span class="sale_tag"></span>
        <p><img src="{{ product.image|thumbnail_url:'small' }}" alt="{{ product.title }}"></p>
        <a href="/shop/product/detail/{{ product.slug }}" class="title">{{ product.title }}</a><br/>
        <a href="{{ product.shop.get_absolute_url }}" class="category">{{ product.shop.title }}</a>
        <p class="price">{{ product.price }} $</p>
        <p class="price">Sale {{ product.sale_price }} $</p>
        </div>
        </div>



{% endfor %}

{% endif %}
    <div class="row feature_box">
							<div class="col-md-4">
								<div class="service">
									<div class="responsive">
										<img src="{{ STATIC_URL }}themes/images/feature_img_2.png" alt="" />
										<h4>SATISFIED <strong>CLIENTS</strong></h4>
										<p>Meet with shops and products through reviews from our community members.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="customize">
										<img src="{{ STATIC_URL }}themes/images/feature_img_1.png" alt="" />
										<h4>FERVENT <strong>SELLERS</strong></h4>
										<p>Buy from the creative people who care about the quality and performance of their professional work.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="support">
										<img src="{{ STATIC_URL }}themes/images/feature_img_3.png" alt="" />
										<h4>SECURE<strong>TRANSACTION</strong></h4>
										<p>You can have peace of mind when buying from our verified sellers.</p>
									</div>
								</div>
							</div>
	</div>

{% endblock %}