{% extends "base_bootstrap.html"%}

{% load thumbnail bootstrap3 %}

{% block title %} &bull; Home{% endblock %}


{% block content %}

        <section  class="homepage-slider" id="home-slider">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->

                    <div class="item active">
                      <img src="{{ STATIC_URL }}themes/images/carousel/banner-1.jpg" alt="">
                    </div>
              </div>
        </section>

        	<section class="header_text">
				We stand for top quality templates. Our genuine developers always optimized bootstrap commercial templates.
				<br/>Don't miss to use our cheap abd best bootstrap templates.
			</section>

    {% if featured_products %}
        <h4 class="title">
		<span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
		<span class="pull-right">
		<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
		</span>
		</h4>

    {% for product in featured_products %}
        <li class="col-md-3">
        <div class="product-box">
        <span class="sale_tag"></span>
        <p><img src="{{ product.image|thumbnail_url:'small' }}" alt="{{ product.title }}"></p>
        <a href="/shop/product/detail/{{ product.slug }}" class="title">{{ product.title }}</a><br/>
        <a href="{{ product.shop.get_absolute_url }}" class="category">{{ product.shop.title }}</a>
        <p class="price">{{ product.price }} $</p>
        <p class="price">Sale {{ product.sale_price }} $</p>
        </div>
        </li>


{% endfor %}

{% endif %}

{% endblock %}