{% extends "base_bootstrap.html" %}
{% load thumbnail bootstrap3 %}
{% block title %} &bull; {{ catalog.title }} Catalog{% endblock %}

{% block content %}
<div class="page-header">
<h1>{% if object.image %}
        <img class="img-circle" src="{{ object.image|thumbnail_url:'small' }}" alt="{{ object.title }}">
        {% endif %} {{ object.title }}</h1>
</div>


<section class="header_text sub">
    <img class="pageBanner" src="{{ STATIC_URL }}themes/images/pageBanner.png" alt="New products" >
        <h4> <span>Products found in {{ object.title }}:</span></h4>
</section>
<div class="row">
    <div class="col-md-12">
		<ul class="thumbnails listing-products">
        {% for product in object.product_set.all %}
            <div class="col-md-3">
                <div class="product-box">
      <img src="{{ product.image|thumbnail_url:'small' }}" alt="{{ product }}"></br>
      <a href="/shop/product/detail/{{ product.slug }}" class="title">{{ product.title }}</a></br>
        <p>Submitted by <a href="{{ product.shop.get_absolute_url }}">{{ product.shop }}</a></p>

      </div>
    </div>
  {% endfor %}
            </ul>
        </div>
</div>

{% endblock %}



