{% extends "base_bootstrap.html" %}
{% load thumbnail bootstrap3 %}
{% load disqus_tags %}
{% disqus_dev %}
{% block title %} &bull; {{ product.title }} Details{% endblock %}


{% block content %}
<section class="header_text sub" xmlns="http://www.w3.org/1999/html">
			<img class="pageBanner" src="{{ STATIC_URL }}themes/images/pageBanner.png" alt="New products" >
				<h4><span>Product Detail</span></h4>
			</section>
        <section class="main-content">
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-4">
                                {% if product.image %}
								<img src="{{ product.image|thumbnail_url:'large' }}" class="thumbnail" data-fancybox-group="group1" title="Description 1" alt="{{ product.title }} ">
                                {% else %}
                                <img class="img-thumbnail" src="{{ STATIC_URL }}img/product.jpg" alt="{{ product.title }}">
                                {% endif %}
							</div>
							<div class="col-md-5">
								<address>
                                    <strong>Product:</strong> <span>{{ product.title }}</span><br>
									<strong>Brand:</strong> <span>{{ product.shop }}</span><br>
									<strong>Quantity in stock:</strong> <span>{{ product.quantity }}</span><br>
								</address>
								<h4><strong>Price: $ {{ product.price }} </strong></h4>
                                <h4><strong>SALE: $ {{ product.sale_price }} </strong></h4>
                                <a class="btn btn-success" href="{{ product.shop.website }}">{% bootstrap_icon "shopping-cart" %} Buy</a>
							</div>
                            </div>
                        </div>
                    <div class="col-md-3 col">
                         <div class="block">
                                <ul class="nav nav-list">
                                    <li class="nav-header">Catalogs</li>
                                        {% for catalog in catalogs %}
                                    <li class="active"><a href="{{ catalog.get_absolute_url }}">{{ catalog }}</a></li>
                                        {% endfor %}
                                </ul>
                            <br/>
                        </div>
                     </div>
                    </div>

            <div class="row">
							<div class="col-md-9">
								<ul class="nav nav-tabs" id="myTab">
									<li class="active"><a href="#home">Description</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="home">{{ product.description }}</div>

								</div>
							</div>

                <div class="col-md-9">
								<br>
								<h4 class="title">
									<span class="pull-left"><span class="text"><strong>All</strong> Comments</span></span>
								</h4>
					     <div id="myCarousel-1" class="carousel slide">
								<div class="carousel-inner">
										<div class="active item">
										{% disqus_show_comments %}
                                        </div>
                                  </div>
                         </div>
                    </div>


</div>
            </section>



{% endblock %}