{% extends "base.html" %}
{% load thumbnail %}


{% block content %}
        <h2>{{ object.title }}</h2>
        <a href="{{ object.website }}"/> {{ object.website }} </a>
        {% if object.avatar %}
        <img src="{{ object.avatar.url }}">
        {% endif %}
        <p>{{ object.description }}</p>

        <h2>Last arrivals from {{ object.title }}</h2>


                     {% for product in products %}
                               <img src="{{ product.image|thumbnail_url:'small' }}"
                                    alt="{{ product }}"/></a>
                      {% endfor %}


{% endblock %}