{% extends "base_bootstrap.html" %}
{% load thumbnail bootstrap3 %}
{% block title %} &bull; Shop List{% endblock %}



{% block content %}
<section class="header_text sub">
			<img class="pageBanner" src="{{ STATIC_URL }}themes/images/pageBanner.png" alt="New products" >
				<h4><span>All SHOPS</span></h4>
			</section>
        <div class="row">

					<div class="col-md-9">
						<ul class="thumbnails listing-products">
                            {% for object in object_list %}
							<div class="col-md-3">
								<div class="product-box">
									{% if object.avatar %}
									<img src="{{ object.avatar|thumbnail_url:'small' }}" alt="{{ object.title }}"><br/>{% endif %}
									<a href="{{ object.get_absolute_url }}" class="title">{{ object.title }}</a><br/>
								</div>
							</div>
                             {% endfor %}
                         </ul>
					 </div>
        </div>

{% endblock %}