{% extends "base.html" %}
{% load thumbnail bootstrap3 %}
{% block title %} &bull; {{ object.title }} Shop{% endblock %}

{% block content %}
<div class="panel panel-title">
<div class="panel-heading">
  <h3 class="panel-title">{{ object.title }}</h3>
</div>
<div class="panel-body">
        {% if object.avatar %}
        <img class="img-thumbnail" src="{{ object.avatar.url }}" alt="{{ object.title }}">
        {% endif %}
<a class="btn btn-default" href="{{ object.website }}">{% bootstrap_icon "globe" %} {{ object.website }}</a>
      <div class="well">{{ object.description }}</div>
    

<h3>Last arrivals from {{ shop.title }}</h3>
{% for product in object.product_set.all %}
<img src="{{ product.image|thumbnail_url:'small' }}" alt="{{ product.title }}"/></a>
{% endfor %}
</div>
</div>
        
        

{% endblock %}